{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    技术小玩家
{% endblock %}

{% block con_ten %}
    <div class="ui raised segment">
        <div class="ui secondary pointing menu">
            <a class="active item" href="{% url 'forum:index' %}">
                主页
            </a>
            <a class="item" href="#">
                热门
            </a>
            <a class="item">
                技术
            </a>
            <a class="item">
                娱乐
            </a>
        </div>
        <!--话题列表-->
        <div class="ui big very relaxed selection list">
            {% for topic in topics %}
                <div class="item">
                    <img class="ui avatar image" src="#">
                    <div class="content">
                        <a class="header" href="#">{{ topic.title }}</a>
                        <div class="description">
                            <span class="" style="font-size: smaller;">{{ topic.user }}</span>
                            <span class=""
                                  style="font-size: x-small; color: #cfcfcf;"> • {{ topic.add_time | date:"M j, Y" }} • 板块& </span>
                            <span class="" style="font-size: smaller;">
                                <a style="font-size: smaller;" href="#">
                                {{ topic.boards }}
                            </a></span>
                            <span class="" style="font-size: x-small; color: #cfcfcf;"> • 阅读量{{ topic.views }} </span>
                        </div>
                    </div>
                            <div class="ui right floated teal left pointing label">评论3</div>
                    </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}



